

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* src/styles/global.css */
@font-face {
  font-family: 'Masque'; /* Nazwa, która będzie używana w konfiguracji TailwindCSS i w komponentach React */
  src: url('../public/MASQUE__.ttf') format('truetype'); /* Ścieżka do pliku czcionki; upewnij się, że jest poprawna */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins'; /* Nazwa, która będzie używana w konfiguracji TailwindCSS i w komponentach React */
  src: url('../public/Poppins-Regular.ttf') format('truetype'); /* Ścieżka do pliku czcionki; upewnij się, że jest poprawna */
  font-weight: normal;
  font-style: normal;
}
